<div class="alitaWrapper">
  <div class="botArea">
    <div class="botIntro">
      <div class="face"></div>
      <div class="content">
        <span class="line"></span>
        <h2>Meet Alita!</h2>
        <p>
          She will help you get everything set up with your new account!
        </p>
      </div>
    </div>
    <div class="chatArea">
      <ul>
        <li>
          <div class="someone">
            <p>I want some help Alita!</p>
            <img src="assets/img/alita.png" alt="">
          </div>
        </li>

        <li>
          <div class="myself">
            <img src="assets/img/alita.png" alt="">
            <p>Hey John, No problem! What is it I can help you with?</p>
          </div>
        </li>
      </ul>
      <form>
        <input type="text" placeholder="Type Something">
        <button type="button" mat-raised-button>Send</button>
      </form>
    </div>
  </div>
</div>